*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f7f7f7;
}

img {
  max-width: 100%;
}

.box-shadow {
  box-shadow: 0 3px 8px #ccc;
}

.section {
  padding: 50px 0;
}

.section--primary-bg {
  background-color: #00113d;
  color: #fff;
}

.section--fixed {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__heading {
  font-size: 2.4rem;
  text-align: left;
  font-size: 4.5rem;
  line-height: 1.2;
}

.section__sub-heading {
  font-size: 2.5rem;
  letter-spacing: 3.95px;
  line-height: 1.76;
  position: static;
  letter-spacing: 2px;
  color: #e7cd60;
  text-transform: uppercase;
}
